:root {
  --primary: #b13b36;
  --secondary: #47578c;
}

p {
  color: aliceblue;
}

.info-section {
  display: flex;
  flex-direction: row;
  color: blueviolet;
  padding-top: 0.3em;
}

.info-section p {
  margin-right: 0.5em;
  font-size: 1.1em;
  letter-spacing: 0.3px;
}

.info-section :last-child {
  font-weight: bold;
}

.flight-wrapper :first-child {
  padding-top: 0;
}

.flight-wrapper {
  margin: 0 auto;
  background-color: rgb(10, 43, 71);
  display: flex;
  flex-direction: row;
  width: 30%;
  padding: 1em 2em 1em 2em;
  justify-content: left;
  margin-top: 3em;
}

.buyButtonWrapper {
  background-color: var(--primary);
  display: flex;
  height: fit-content;
  margin-top: 15%;
  margin-left: 2%;
  padding: 5px;
}

.buyButton {
  background-color: var(--primary);
  border: none;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  letter-spacing: 0.7px;
  color: aliceblue;
}
