:root {
  --primary: seashell;
  --secondary: #2a9d8f;
  --ternary: #264653;
}

.registrationButton {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 30px;
  width: 120px;
  height: 60px;
  font-size: large;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 20px;
  border: none;
}

.registrationButton:hover {
  background-color: var(--ternary);
}
