:root {
  --primary: seashell;
  --secondary: #2a9d8f;
  --ternary: #264653;
}
.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.registrationForm {
  border: 3px solid #264653;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
  text-align: center;
  background-color: #e9c46a;
}

input {
  margin: 15px;
}

.submitInput {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 30px;
  width: 120px;
  height: 60px;
  font-size: large;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.submitInput:hover {
  background-color: var(--ternary);
}

.label {
  color: #264653;
  font-weight: 500;
  font-size: large;
}

.textInput {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  width: 120px;
  height: 30px;
  font-size: large;
  background-color: var(--primary);
  color: var(--ternary);
  border-radius: 10px;
  border: 2px solid #264653;
}
.textInput:focus {
  border: 2px solid #264653;
}
