:root {
  --primary: seashell;
  --secondary: #2a9d8f;
  --ternary: #264653;
}
.form-container {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loginForm {
  border: 3px solid #264653;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
  text-align: center;
  background-color: #e9c46a;
}
.submitInput {
  padding-left: 20px;
  padding-right: 20px;
  width: 120px;
  height: 60px;
  font-size: large;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.submitInput:hover {
  background-color: var(--ternary);
}
