:root {
    --primary: #b13b36;
    --secondary: #47578c;
  }

h2 {
    font-size: 24px;
    text-align: center;
}

input {
    color: black;
}

select {
    width: 100px;
    color: black;
    font-size: medium
}
option {
    color: black;
}

form {
    padding-left: 20px;
}

.searchForm * {
    margin-right: 12px;
}

.searchForm {
    padding-left: 3em;
}

.heading {
    margin-bottom: 15px;
    letter-spacing: 0.8px;
    font-size: 25px;
}

.ticketsInput {
    width: 50px;
}

.searchDescription {
    font-size: 22px;
    margin-bottom: 10px;
    padding-left: 1.5em;
}

.departureSection,
.destinationSection {
    margin-bottom: 10px;
}

.searchButton {
    background-color: var(--primary);
    border: none;
    font-size: 16px;
    padding: 5px;
    margin-left: 20px;
    cursor: pointer;
}

.flights-wrapper {
    background-color: var(--primary);
    margin-top: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.no-result-text {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.4px;
}

