.heading {
  margin-bottom: 15px;
  letter-spacing: 0.8px;
  font-size: 25px;
}

.purchased-tickets-wrapper {
  background-color: var(--primary);
  margin-top: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.no-result-text {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.4px;
}

.purchased-tickets-wrapper a :hover {
  color: #47578c;
}
.purchased-tickets-wrapper a {
  text-decoration: none;
  color: aliceblue;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.4px;
}
